@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');


* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
canvas {
  width: 100%;
  height: 100%;

}


h1 {
  font-family: 'Quattrocento', serif;
  font-size: 10rem;
  color: white;
}

.three-scene {}

canvas {
  height: 100vh;
}